@import "colors";

body {
    font: 100% "Space Mono", monospace;
    color: $gray;
    margin: 0;
    padding: 0;
    background-color: $light-gray;
    overflow-x: hidden;
}

main {
    padding: 0 1em;
}

h1 {
    text-align: center;
    color: $pink;
}

h2 {
    color: $pink;
}

h3 {
    @extend h1;
    font-size: 1.5em;
    padding: 32px;
    margin-bottom: 0px;
}


article {
    display: flex;
    flex-wrap: wrap;
    section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px $dark-gray solid;
    -webkit-box-shadow: 10px 10px 15px -4px $gray;
    -moz-box-shadow: 10px 10px 15px -4px $gray;
    box-shadow: 10px 10px 15px -4px $gray;
    padding: 16px;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;

        #selling-points {
            flex-grow: 2;
            flex-basis: 100%;
        }
    }

    code {
        background: $black;
    border: 1px solid $gray;
    color: $dark-gray;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;

        &.before {
            float: left;
            width: 40%;
        }

        &.after {
            float: right;
            width: 40%;
        }
    }
}

%message-shared {
    border: 1px solid $dark-gray;
    padding: 16px;
    color: $light-gray;
}

.success {
    @extend %message-shared;
    background-color: $green;
}

.warning {
    @extend %message-shared;
    background-color: $orange;
}

.error {
    @extend %message-shared;
    background-color: $red;

    &:hover{
        background-color: $green;
    }
}